@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://img.freepik.com/free-photo/indian-condiments-with-copy-space-view_23-2148723492.jpg?w=1380&t=st=1697094467~exp=1697095067~hmac=099034130b3107366293882cb25b719da67c764b44bd2f495baef074b49e1d1a" width="1000" height="200" alt="BoardOfProudFoodie">
    <h1 class="display-4">Welcome To ProudFoodie</h1>
    <p>Forest Of Delicious Food</p>
</div>
